*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'noto sans khmer', sans-serif;
}
section{
    margin: auto;
    width: 100%;
}
.header{
    background-color: rgb(23, 23, 23);
    height: 17vh;
    display: flex;
    align-items: center;
    padding: 0px 180px;

}
.logo{
    width: 85px;
    height: 85px;
}
.logo img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.menu{
    background-color: rgb(179, 35, 39);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.sub-menu ul{
    display: flex;
    gap: 25px;
    align-items: center;
   margin-left: 185px;
}
.sub-menu ul li{
    list-style: none;
}
.sub-menu ul li a{
    text-decoration: none;
    color: white;
    font-family: khmer moul light;
    font-size: 15pt;
}
#home{
    background-color: rgb(223, 34, 34);
    padding: 10px 16px;
}
.main{
    /* margin-top: 15px;
    display: flex;
    gap: 10px; */
    width: 100%;
  
    height: 70vh;
    margin-top: 15px;
    display: flex;
    gap: 10px;

}
.container{
    width: 76%;
    margin: auto;
}
.contain-left{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
.row-top,.row-bottom{
    width: 100%;
    height: 50%;
    /* background-color: rgb(8, 49, 49); */
    display: flex;
}
.box-left{
    width: 90%;
    height: 100%;
    position: relative;
}
.box-right{
    width: 60%;
    height: 100%;
    position: relative;
}
.box-left img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.box-right img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.text-contain{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
}
.title span{
    font-family: 'koulen';
    color: white;
    margin-left: 10px;
}
.title{
    position: absolute;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: rgb(224, 8, 210);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
}
.text-des h2{
    font-size: 18px;
    padding: 0 16px;
    color: white;
    font-family: 'battambang';
    text-shadow: 3px 3px 3px rgb(65, 63, 63);
    font-weight: bold;
}
.text-des p{
    font-size: 12px;
    padding: 0 16px;
    transform: translateY(10px);
    font-family: 'Kh Battambang';
}
.date{
    bottom: 15px;
    position: absolute;
    padding: 0 16px;
    font-size: 15px;
    font-family: 'Kh Battambang';
}
.text-des{
    bottom: 40px;
    position: absolute;
    width: 100%;
    height: 75px;
    overflow: hidden;
    transition: .8s;
}
.text-contain:hover h2{
    color: red;
}
.box-left:hover .text-des{
    height: 140px;
}
.box-left:hover .text-contain{
    transition: 1s;
    background: linear-gradient(rgb(0, 0, 0, 0.700),rgb(0, 0, 0, 0.60),rgb(0, 0, 0, 0.800),black 100%);
}

.box-right:hover .text-des{
    height: 140px;
}
.box-right:hover .text-contain{
    transition: 1s;
    background: linear-gradient(rgb(0, 0, 0, 0.700),rgb(0, 0, 0, 0.60),rgb(0, 0, 0, 0.800),black 100%);
}
.contain-right{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-left1,.box-right1{
    width: 100%;
    height: 50%;
}
.box-left1 img ,.box-right1 img{
    width: 100%;
    height: 100%;
}
#jivit{
    background-color: rgb(9, 109, 76);
    width: 125px;
    
}
#tech{
    background-color: orange;
    width: 110px;
}
/* main-container */
.main-container{
    width: 76%;
    margin: auto;
    height: 95vh;
}
.video-container{
    border-top: 2px solid red; 
    background-color: rgb(248, 249, 251);
    box-shadow: 1px 3px 8px rgb(116, 116, 116);
    width: 100%;
    height: 100%;
    padding: 25px 40px;
}

.video-title{
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    background-color: red;
    width: 125px;
    margin-top: 30px;
    padding: 5px 20px;  
}
.video-title span{
    font-family: 'koulen';
    font-size: 15pt;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.859);
}
.fa-angle-right{
    font-size: 17pt;
    color: white;
    transform: translateX(5px);
}
.contain1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}
.contain1 .box-img{
    height: 75%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.907);
    overflow: hidden;
}
.box-img img{
    width: 100%;
    height: 100%;
}

.box-img img:hover{
    transform: scale(0.97);
    
}
.text p{
    margin-top: 10px;
    font-family:'kh content';
    font-size: 11pt;
    font-weight: bold;
    color: rgb(73, 73, 73);

}
.contain2{
    margin-top: 5px;
    display: flex;
    gap: 25px;
}

.video-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.video-item .box-img{
    background-color: rgba(0, 0, 0, 0.907);
    height: 65%; 
    overflow: hidden; 
}

.ads-right img{
    width: 305px;
    object-fit: cover;
}
.text1 p{
    margin-top: 5px;
    font-size: 10pt;
    line-height: 20px;
    font-family:'kh battambang' ;
    /* background-color: aquamarine; */
    /* height: 60px; */
    /* overflow: hidden; */
}
.text1{
    overflow:hidden ;
    height: 65px;
}
#komsan{
    background-color: rgb(199, 33, 132);
    margin-top: 80px;
}
.main-komsan{
    height: 55vh;

}
.komsan-container{
    border-top: 2px solid rgb(199, 33, 132);
}
.komsan-item{
    gap: 10px;
    
}
.arrow-icon .fa-angle-right{
    font-size: 50px;
    color: red;
    transform: translateX(25px);
}
.komsan-contain2{
    align-items: center;
}
.ads-img-left{
    height: 100%;
    width: 330px;
    background-color: rgb(21, 19, 19);
}
.ads-img-left img{
    width: 100%;
    height: 100%;
}
.ads-left h3{
    color: white;
    height: 100%;
    background-color: rgb(0, 104, 69);
    font-family: 'koulen';
    text-align: center;
    line-height: 30px; 
    padding: 10px;
    cursor: pointer;
}
.ads-img-left img:hover{
    transform: scale(0.97);
    transition: .5s;
}
.ads-left h3:hover{
    background-color: rgb(16, 100, 185);
    color: rgb(17, 17, 17);
    /* text-shadow: 2px 2px 1px rgb(224, 222, 220); */
    transition: .5s;
}
#technology{
    background-color: rgb(21, 18, 201);
    margin-top: 80px;
    width: 150px;
}
.tech-container{
    border-top: 2px solid rgb(21, 18, 201);
}
#ads-text{
    background-color: rgb(82, 5, 120);
}
#i-page3 .fa-angle-right{
    color: rgb(21, 18, 201);
}
/* life & social */

#social{
    background-color: rgb(7, 169, 238);
    margin-top: 80px;
    width: 150px;
}
.social-container{
    border-top: 2px solid rgb(7, 169, 238);
}
#ads-text1{
    background-color: rgb(7, 169, 238);
}
#i-page4 .fa-angle-right{
    color: rgb(7, 169, 238);
}

/* sport-content */
#sport-title{
    background-color:orange;
    margin-top: 80px;
    width: 150px;
}
.sport-container{
    border-top: 2px solid orange;
}
#ads-text2{
    background-color: orange;
}
#i-page5 .fa-angle-right{
    color: orange;
}
/* footer  */
footer{
    background-color: rgb(0, 0, 0);
    margin-top: 8rem;
    width: 100%;
    height: 40vh;
    padding: 40px 180px;
    display: flex;
     gap: 0 25px;
}

.f-item img{
    width: 145px;
    margin-bottom: 4px;
}
.f-item{
    
    margin-bottom:15px;
}
.f-item p,.addreas p,.f-left h4,.contact p{
    font-family: 'Kh Battambang';
    color: gray;
    font-size: 14px;
    line-height: 21px;
}
.addreas{
    margin-top: 15px;
}
.addreas h4{
    color: rgb(188, 189, 189);
}
.f-left{  
    margin-right: 100px;
    width: 22%;  
}
.f-middle{
    margin-left: 20px;
    width: 40%;
}
.f-item h3{
    margin-bottom: 20px;
    font-family: 'Koulen';
    color: rgb(171, 171, 171);
    font-size: 20px;
}

.link-logo img{ 
    width: 35px;
    object-fit: cover;
    border-radius: 50px;
}
.link-logo{
    display: flex; 
    gap: 5px;
    margin-top: 15px;
}
.f-middle h4{
    font-family: 'Kh Battambang';
    color: gray;
    font-size: 14px;
}
.f-item span{
    font-weight: bold;
    color: rgb(167, 164, 164);
    /* margin-right: 10px; */
}
.icon-social-media a{
    font-size: 24px;
    color: rgb(164, 164, 164);
    margin: 0 2px;
}
.contact h4{
    margin-top: 15px;
    color: rgb(188, 189, 189);
    font-family: 'Kh Battambang';
}
.icon-social-media a:hover{
    color: aliceblue;
}
